# ── Python ───────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
build/
dist/


.venv/
venv/
env/
.env

.ipynb_checkpoints/

.idea/
.idea.zip
.vscode/
*.swp
*.swo
*.layout

Thumbs.db
.DS_Store

data/raw/
data/processed/
notebooks/data.csv
*.csv
!data/raw/sample.csv

models/
*.pkl
*.bak

mlruns/
**/mlruns/
mlflow.db
**/mlflow.db

catboost_info/
**/catboost_info/
*.tfevents
*.tsv

*.zip
*.docx
*.tmp

notebooks/*.png
