*.tmp
*.json
*.db
*.tsv
*.tfevents

.idea

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# data
data/raw/
data/processed/

data/raw/
data/processed/
notebooks.catboost_info/
*.tsv


catboost_info/
mlruns

# model
models/

# enviroment
.env
venv/
